* {font-family: Fantasy; text-align: center;} 
.nav {background-color: black; font-size: 22; position: fixed; top: 0; left: 0; right: 0;}
.as a{background-color: lightgrey; color: black; display; flex; padding: 2px;}
.hm a{background-color: lightgrey; color: red; display; flex; padding: 2px;}
a:hover {background-color: gold;}
.ci {transform: translateY(25%);} 
h1, h2, h3, h4, h5 {color: gold; font-size: 35;}
h5:hover {color: red;}
p {color: lightgrey; font-size: 25;}
body {background-color: black;}

